<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap-grid.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap-reboot.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap-utilities.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap-icons/font/bootstrap-icons.min.css"]" />
    <link rel="stylesheet" href="@Assets["_content/Blazor.Bootstrap/blazor.bootstrap.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["EnergyAutomate.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="PageRenderMode" />
</head>

<body>
    <Routes @rendermode="PageRenderMode" />   
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["Components/Account/Shared/PasskeySubmit.razor.js"]" type="module"></script>
    <script src="@Assets["js/helper.js"]"></script>
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"]"></script>
    <script src="@Assets["lib/sortablejs/Sortable.min.js"]"></script>
    <script src="@Assets["lib/chartjs/dist/chart.umd.js"]"></script>
    <script src="@Assets["lib/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"]"></script>
    <script src="@Assets["_content/Blazor.Bootstrap/blazor.bootstrap.js"]"></script>
    <script src="@Assets["_content/EnergyAutomate.BlazorMonaco/jsInterop.js"]"></script>
    <script src="@Assets["_content/EnergyAutomate.BlazorMonaco/lib/monaco-editor/min/vs/loader.js"]"></script>
    <script src="@Assets["_content/EnergyAutomate.BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"]"></script>

</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;
}