@page "/growatt"

@using System.Collections.Specialized
@using BlazorBootstrap
@using EnergyAutomate.Components.Templates
@using EnergyAutomate.Definitions
@using EnergyAutomate.Services
@using Microsoft.AspNetCore.Components.Web

@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer

@inject ApiService ApiService

<PageTitle>RealTimeMeasurement</PageTitle>

<style>

    .table-responsive table {
        margin-top: 0px !important;
    }

</style>

@if (ApiService.GrowattGetDeviceLists() == null || !ApiService.GrowattGetDeviceLists().Any())
{
    <p>Loading...</p>
}
else
{
    @foreach (var device in ApiService.GrowattGetDeviceLists().Where(x => x.DeviceType == "noah"))
    {
        var deviceItem = ApiService.GrowattGetDeviceLists().FirstOrDefault(x => x.DeviceSn == device.DeviceSn);
        var lastInfoItem = ApiService.GrowattGetNoahInfoDataPerDevice(device.DeviceSn);
        var lastDataItem = ApiService.GrowattGetNoahLastDataPerDevice(device.DeviceSn);

        <Card Class="my-3">
            <CardHeader>Mqtt Actions</CardHeader>
            <CardBody>
                <div class="row g-3 align-items-end">
                    <div class="col-md-3">
                        <label class="form-label">Smart Power</label>
                        <InputNumber TValue="int" class="form-control" @bind-Value="SmartPowerValue" />
                    </div>
                    <div class="col-md-3">
                        <Button Color="ButtonColor.Success" class="w-100" @onclick="async () => await SetSmartPowerAsync(device)">
                            Set Smart Power
                        </Button>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Default Power</label>
                        <InputNumber TValue="int" class="form-control" @bind-Value="DefaultPowerValue" />
                    </div>
                    <div class="col-md-3">
                        <Button Color="ButtonColor.Secondary" class="w-100" @onclick="async () => await SetDefaultPowerAsync(device)">
                            Set Default Power
                        </Button>
                    </div>
                </div>
                <div class="row g-3 align-items-end">
                    <div class="col-md-3">
                        <Button Color="ButtonColor.Primary" @onclick="async () => await ClearDeviceNoahTimeSegmentsAsync(device)">Clear Device Noah Timesegments </Button>
                    </div>
                    <div class="col-md-3">
                        <Button Color="ButtonColor.Primary" @onclick="async () => await BattPriorityDeviceNoahAsync(device)">BattPriorityDeviceNoah</Button>
                    </div>
                    <div class="col-md-3">
                        <Button Color="ButtonColor.Primary" @onclick="async () => await LoadPriorityDeviceNoahAsync(device)">LoadPriorityDeviceNoah </Button>
                    </div>

                </div>
            </CardBody>
        </Card>

        <Card Class="my-3">
            <CardHeader>Api Actions</CardHeader>
            <CardBody>
                <Button Color="ButtonColor.Primary" @onclick="ApiService.GrowattInvokeRefreshDeviceList">Refresh Device List</Button>
                <Button Color="ButtonColor.Primary" @onclick="ApiService.GrowattInvokeClearDeviceNoahTimeSegments">Clear Device Noah Timesegments </Button>
                <Button Color="ButtonColor.Primary" @onclick="ApiService.GrowattInvokeBattPriorityDeviceNoah">BattPriorityDeviceNoah</Button>
                <Button Color="ButtonColor.Primary" @onclick="ApiService.GrowattInvokeLoadPriorityDeviceNoah">LoadPriorityDeviceNoah </Button>

                <Button Color="ButtonColor.Primary" @onclick="async () => { await ApiService.GrowattInverterMaxSetPower(100); }">Inverter 100% </Button>
                <Button Color="ButtonColor.Primary" @onclick="async () => { await ApiService.GrowattInverterMaxSetPower(50); }">Inverter 50% </Button>
            </CardBody>
        </Card>

        <Card Class="col-12 my-1">
            <CardHeader>
                <div>
                    <div class="row mx-2">
                        <strong class="col-6">
                            @device.DeviceType?.ToUpper()
                            <small>(@device.DeviceSn)</small>
                        </strong>
                        <div class="col-6">
                            <div style="font-size: 0.75rem;">@($"Last info update {lastInfoItem?.TS.LocalDateTime}")</div>
                        </div>
                    </div>
                    <div class="row mx-2">
                        <div class="col-6">
                            <strong>@(device.IsOfflineSince.HasValue ? $"Offline since {device.IsOfflineSince}" : "Online")</strong>

                        </div>
                        <div class="col-6">
                            <div style="font-size: 0.75rem;">@($"Last data update {lastDataItem?.TS.LocalDateTime}")</div>
                        </div>
                    </div>
                </div>
            </CardHeader>
            <CardBody>
                <div class="row">
                    <div class="col">
                        Power
                        <ul class="list-group list-group-flush">

                            <ListGroupItem Title="Output"
                                           Value="@(deviceItem?.PowerValueOutput is int powerValueOutput ? $"{powerValueOutput} W" : string.Empty)"
                                           IconName="IconName.Plugin" />

                            <ListGroupItem Title="Commited"
                                           Value="@(deviceItem?.PowerValueCommited is int powerValueCommited ? $"{powerValueCommited} W" : string.Empty)"
                                           IconName="IconName.Plug" />

                            <ListGroupItem Title="Default"
                                           Value="@(deviceItem?.PowerValueDefault is int powerValueDefault ? $"{powerValueDefault} W" : string.Empty)"
                                           IconName="IconName.Gear" />

                            <ListGroupItem Title="ChargingPower"
                                           Value="@((int)(lastDataItem?.totalBatteryPackChargingPower ?? 0) is int chargingPower ? $"{chargingPower} W" : string.Empty)"
                                           IconName="IconName.BatteryCharging" />

                            <ListGroupItem Title="ChargingStatus"
                                           Value="@((lastDataItem?.totalBatteryPackChargingStatus) switch {
                                                    0 => "Nothing",
                                                    1 => "Charge",
                                                    2 => "Discharge",
                                                    _ => "Unknown"
                                                } is string chargingStatus ? $"{chargingStatus}" : string.Empty)"
                                           IconName="IconName.Battery" />

                            <ListGroupItem Title="DischargeSocLimit"
                                           Value="@(lastDataItem?.dischargeSocLimit is int dischargeSocLimit ? $"{dischargeSocLimit} %" : string.Empty)"
                                           IconName="IconName.BatteryFull" />
                            <ListGroupItem Title="ChargeSocLimit"
                                           Value="@(lastDataItem?.chargeSocLimit is int chargeSocLimit ? $"{chargeSocLimit} %" : string.Empty)"
                                           IconName="IconName.BatteryFull" />
                        </ul>
                    </div>
                    <div class="col">
                        Panels
                        <ul class="list-group list-group-flush">

                            <ListGroupItem Title="PV ⌀"
                                           Value="@(lastDataItem?.ppv is float pvTotalPower ? $"{pvTotalPower} W" : string.Empty)"
                                           IconName="IconName.Sun" />

                            <ListGroupItem Title="PV 1"
                                           Value="@(lastDataItem?.pv1Current * lastDataItem?.pv1Voltage is float pv1Power ? $"{pv1Power} W" : string.Empty)"
                                           IconName="IconName.Sun" />

                            <ListGroupItem Title="PV 2"
                                           Value="@(lastDataItem?.pv2Current * lastDataItem?.pv2Voltage is float pv2Power ? $"{pv2Power} W" : string.Empty)"
                                           IconName="IconName.Sun" />

                            @if (!string.IsNullOrWhiteSpace(lastDataItem?.battery2SerialNum))
                            {
                                <ListGroupItem Title="PV 3"
                                               Value="@(lastDataItem?.pv3Current * lastDataItem?.pv3Voltage is float pv3Power ? $"{pv3Power} W" : string.Empty)"
                                               IconName="IconName.Sun" />
                            }
                            @if (!string.IsNullOrWhiteSpace(lastDataItem?.battery2SerialNum))
                            {
                                <ListGroupItem Title="PV 4"
                                               Value="@(lastDataItem?.pv4Current * lastDataItem?.pv4Voltage is float pv4Power ? $"{pv4Power} W" : string.Empty)"
                                               IconName="IconName.Sun" />
                            }
                        </ul>
                    </div>
                    <div class="col">
                        Battery
                        <ul class="list-group list-group-flush">

                            <ListGroupItem Title="Battery ⌀"
                                           Value="@(lastDataItem?.totalBatteryPackSoc is int totalBatteryPackSoc ? $"{totalBatteryPackSoc} %" : string.Empty)"
                                           IconName="IconName.BatteryHalf" />
                            <ListGroupItem Title="Battery 1"
                                           Value="@(lastDataItem?.battery1Soc is int battery1Soc ? $"{battery1Soc} %" : string.Empty)"
                                           IconName="IconName.BatteryHalf" />
                            @if (!string.IsNullOrWhiteSpace(lastDataItem?.battery2SerialNum))
                            {
                                <ListGroupItem Title="Battery 2"
                                               Value="@(lastDataItem?.battery2Soc is int battery2Soc ? $"{battery2Soc} %" : string.Empty)"
                                               IconName="IconName.BatteryHalf" />
                            }
                            @if (!string.IsNullOrWhiteSpace(lastDataItem?.battery3SerialNum))
                            {
                                <ListGroupItem Title="Battery 3"
                                               Value="@(lastDataItem?.battery3Soc is int battery3Soc ? $"{battery3Soc} %" : string.Empty)"
                                               IconName="IconName.BatteryHalf" />
                            }
                            @if (!string.IsNullOrWhiteSpace(lastDataItem?.battery4SerialNum))
                            {
                                <ListGroupItem Title="Battery 4"
                                               Value="@(lastDataItem?.battery4Soc is int battery4Soc ? $"{battery4Soc} %" : string.Empty)"
                                               IconName="IconName.BatteryHalf" />
                            }
                        </ul>
                    </div>
                </div>
            </CardBody>
            <CardFooter>
                <ul>
                    @if (lastInfoItem != null && lastInfoItem.TimeSegments.Where(x => x.Enable == "1").Any())
                    {
                        @foreach (var segment in lastInfoItem!.TimeSegments.Where(x => x.Enable == "1").OrderBy(x => x.StartTime))
                        {
                            <li class="list-group-item d-flex align-items-center">
                                <div class="row w-100">
                                    <div class="row w-100">
                                        <div class="col-md-2">
                                            @segment.StartTime
                                        </div>
                                        <div class="col-md-2">
                                            @segment.EndTime
                                        </div>
                                        <div class="col-md-2">
                                            @(segment.Mode switch
                                            {
                                                "0" => "Load",
                                                "1" => "Batt",
                                                "2" => "Smart",
                                                _   => "Unknown"
                                            })
                                        </div>
                                        <div class="col-md-2">
                                            @segment.Power W
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </CardFooter>
        </Card>
    }
}

