@page "/"

@using System.Collections.Specialized
@using BlazorBootstrap
@using EnergyAutomate.Definitions
@using EnergyAutomate.Services
@using Microsoft.AspNetCore.Components.Web

@implements IDisposable

@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer

@inject ApiService ApiService
@inject ILogger<RealTimeMeasurement> Logger

<PageTitle>RealTimeMeasurement</PageTitle>

<Tabs @ref="tabsMainRef">
    <Tab Title="Tibber">
        <Content>
            @if (!ApiService.TibberListRealTimeMeasurement().Any())
            {
                <p>Loading...</p>
            }
            else
            {
                <LineChart @ref="realTimeMeasurementChart" Class="tibberLineChart" Height="40" HeightUnit="Unit.Vh" />
                <LineChart @ref="deviceChart" Class="tibberLineChart" Height="40" HeightUnit="Unit.Vh" />
                <LineChart @ref="priceChart" Class="tibberLineChart" Height="40" HeightUnit="Unit.Vh" />
                <Card Class="col-12">
                    <CardBody>
                        <CardTitle>
                            <div class="row w-100">
                                <div class="col-md-6">
                                    Last Indicator Values
                                </div>
                            </div>

                        </CardTitle>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row w-100">
                                    <div class="col-md-6">
                                        AutoModeRestriction: @ApiService.CurrentState.IsExpensiveRestrictionMode
                                    </div>
                                    <div class="col-md-6">
                                        CurrentHour: @ApiService.CurrentState.UtcNow.LocalDateTime
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row w-100">
                                    <div class="col-md-6">
                                        Offset: @ApiService.ApiSettingAvgPowerOffset
                                    </div>
                                    <div class="col-md-6">
                                        Hysteresis: @ApiService.ApiSettingAvgPowerHysteresis
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row w-100">
                                    <div class="col-md-6">
                                        LoadSeconds: @ApiService.ApiSettingAvgPowerLoadSeconds
                                    </div>
                                    <div class="col-md-6">
                                        DeviceQueryQueue: @ApiService.GrowattDeviceQueryQueueWatchdogCount
                                    </div>
                                </div>
                            </li>
                            @{
                                var enumerator = ApiService.ApiSettingAvgPowerAdjustmentTraceValues.OrderBy(x => x.Key).GetEnumerator();
                            }

                            @while (enumerator.MoveNext())
                            {
                                APiTraceValue firstEntry = enumerator.Current;
                                APiTraceValue? secondEntry = null;

                                if (enumerator.MoveNext())
                                {
                                    secondEntry = enumerator.Current;

                                }

                                <li class="list-group-item">
                                    <div class="row w-100">
                                        <div class="col-md-6">
                                            @firstEntry.Key: @firstEntry.Value
                                        </div>
                                        @if (secondEntry != null)
                                        {
                                            <div class="col-md-6">
                                                @secondEntry.Key: @secondEntry.Value
                                            </div>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </CardBody>
                </Card>
            }
        </Content>
    </Tab>
</Tabs>




