@page "/realtimemeasurement"

@using System.Collections.Specialized
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Web

@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer

@inject ApiServiceInfo ApiServiceInfo

<PageTitle>RealTimeMeasurement</PageTitle>

<Tabs @ref="tabsMainRef">
    <Tab Title="Tibber">
        <Content>
            <Tabs @ref="tabsTibberRef" NavStyle="NavStyle.Underline" Class="nav-center">
                <Tab Title="Diagram">
                    <Content>
                        @if (ApiServiceInfo.RealTimeMeasurement == null || !ApiServiceInfo.RealTimeMeasurement.Any())
                        {
                            <p>Loading...</p>
                        }
                        else
                        {
                            <LineChart @ref="realTimeMeasurementChart" Class="tibberLineChart" Height="40" HeightUnit="Unit.Vh" />
                            <LineChart @ref="deviceChart" Class="tibberLineChart" Height="20" HeightUnit="Unit.Vh" />
                            <CardGroup>

                                @foreach (var device in ApiServiceInfo.Devices.Where(x => x.DeviceType == "noah"))
                                {
                                    <Card Style="width:18rem;">
                                        <CardBody>
                                            <CardTitle>
                                                @device.DeviceType.ToUpper() 
                                                <small Class="mb-2 text-muted">(@device.DeviceSn)</small>
                                                <small Class="mb-2 text-muted">@(device.IsOfflineSince.HasValue ? $"Offline since {device.IsOfflineSince}" : "Online")</small>
                                            </CardTitle>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item d-flex align-items-center">
                                                    <div class="row w-100">
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.SunsetFill" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                @((int)(ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.ppv ?? 0)) W
                                                            </span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.Sunset" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                @((int)(ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.pv1Current ?? 0) * (int)(ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.pv1Voltage ?? 0)) W
                                                            </span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.Sunset" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                @((int)(ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.pv2Current ?? 0) * (int)(ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.pv2Voltage ?? 0)) W
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row w-100">
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.Plugin" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                @((int)(ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.pac ?? 0)) W
                                                            </span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.Plug" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                <strong>@((ApiServiceInfo.LastCommitedPowerValue ?? 0)/2) W</strong>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row w-100">
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.BatteryCharging" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                @((int)(ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.totalBatteryPackChargingPower ?? 0)) W
                                                            </span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.Battery" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                <small>
                                                                    @((ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.totalBatteryPackChargingStatus) switch
                                                                    {
                                                                        0 => "Nothing",
                                                                        1 => "Charging",
                                                                        2 => "Discharging",
                                                                        _ => "Unknown"
                                                                    })
                                                                </small> 
                                                            </span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.BatteryHalf" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                @ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.battery1Soc %
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex align-items-center">
                                                    <div class="row w-100">
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.Thermometer" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                @ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.battery1Temp °C
                                                            </span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.Battery" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                @ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.dischargeSocLimit %
                                                            </span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <Icon Name="IconName.BatteryFull" Size="IconSize.None" />
                                                            <span class="mx-3">
                                                                @ApiServiceInfo.GetNoahLastDataPerDevice(device.DeviceSn)?.chargeSocLimit %
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                                @if (ApiServiceInfo.GetNoahInfoPerDevice(device.DeviceSn)!.TimeSegments.Where(x => x.Enable == "1").Any())
                                                {
                                                    <li class="list-group-item d-flex align-items-center">
                                                        <div class="row w-100">
                                                            <div class="col-md-2">
                                                                Start
                                                            </div>
                                                            <div class="col-md-2">
                                                                End
                                                            </div>
                                                            <div class="col-md-2">
                                                                Power
                                                            </div>
                                                            <div class="col-md-2">
                                                                Prio
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                                @foreach (var segment in ApiServiceInfo.GetNoahInfoPerDevice(device.DeviceSn)!.TimeSegments.Where(x => x.Enable == "1").OrderBy(x => x.StartTime))
                                                {
                                                    <li class="list-group-item d-flex align-items-center">
                                                        <div class="row w-100">
                                                            <div class="row w-100">
                                                                <div class="col-md-2">
                                                                    @segment.StartTime
                                                                </div>
                                                                <div class="col-md-2">
                                                                    @segment.EndTime
                                                                </div>
                                                                <div class="col-md-2">
                                                                    @segment.Mode == "0" ? "Load": "Batt" 
                                                                </div>
                                                                <div class="col-md-2">
                                                                    @segment.Power W
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </CardBody>
                                    </Card>
                                }
                                <Card Style="width:18rem;">
                                    <CardBody>
                                        <CardTitle>
                                            Last Indicator Values
                                            <Button Color="ButtonColor.Primary" @onclick="RefreshNoahLastData">Refresh</Button>
                                        </CardTitle>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="row w-100">
                                                    <div class="col-md-6">
                                                        AvgPowerLoad: @ApiServiceInfo.AvgPowerLoad
                                                    </div>
                                                    <div class="col-md-6">
                                                        LastCommitedPowerValue: @ApiServiceInfo.LastCommitedPowerValue
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row w-100">
                                                    <div class="col-md-6">
                                                        DifferencePowerValue: @ApiServiceInfo.DifferencePowerValue
                                                    </div>
                                                    <div class="col-md-6">
                                                        DeltaPowerValue: @ApiServiceInfo.DeltaPowerValue
                                                    </div>
                                                </div>

                                            </li>
                                            <li class="list-group-item">
                                                <div class="row w-100">
                                                    <div class="col-md-6">
                                                        NewPowerValue: @ApiServiceInfo.NewPowerValue
                                                    </div>
                                                    <div class="col-md-6">
                                                        LastPowerValue: @ApiServiceInfo.LastRequestedPowerValue
                                                    </div>
                                                </div>

                                            </li>
                                            <li class="list-group-item">
                                                <div class="row w-100">
                                                    <div class="col-md-6">
                                                        OutputValueQueueCount: @ApiServiceInfo.DeviceNoahOutputValueQueueWatchdog.Count
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row w-100">
                                                    <div class="col-md-6">
                                                        TimeSegmentQueueCount: @ApiServiceInfo.DeviceNoahTimeSegmentQueueWatchdog.Count
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>

                                            </li>
                                            <li class="list-group-item">
                                                <div class="row w-100">
                                                    <div class="col-md-6">
                                                        LastDataQueueCount: @ApiServiceInfo.DeviceNoahLastDataQueueWatchdog.Count
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>
                                    </CardBody>
                                </Card>
                            </CardGroup>
                            <LineChart @ref="priceChart" Class="tibberLineChart" Height="40" HeightUnit="Unit.Vh" />
                        }
                    </Content>
                </Tab>
                <Tab Title="Settings">
                    <Content>
                        <div class="mt-3 d-flex flex-column justify-content-center gap-3">
                            <div>
                                <Switch @bind-Value="ApiServiceInfo.SettingAutoMode" Label="AutoMode (zero injection on low soc)" />
                            </div>
                            <div>
                                <Switch @bind-Value="ApiServiceInfo.SettingAutoModeRestriction" Label="AutoMode Restriction (only if current price is over avg price)" />
                            </div>
                            <div>
                                <Switch @bind-Value="ApiServiceInfo.SettingLoadBalanced" Label="LoadBalanced (zero injection on low soc)" />
                            </div>
                            <div>
                                AvgPowerLoadSeconds <RangeInput TValue="int" @bind-Value="ApiServiceInfo.SettingPowerLoadSeconds" Min="3" Max="180" TickMarks="AvgPowerLoadSecondsTickList" Step="3" />
                            </div>
                            <div>
                                ApiLockSeconds <RangeInput TValue="int" @bind-Value="ApiServiceInfo.SettingLockSeconds" Min="100" Max="1000" TickMarks="ApiLockSecondsTickList" Step="50" />
                            </div>
                            <div>
                                ApiOffsetAvg <RangeInput TValue="int" @bind-Value="ApiServiceInfo.SettingOffsetAvg" Min="-100" Max="100" TickMarks="ApiOffsetAvgTickList" Step="25" />
                            </div>
                            <div>
                                SettingToleranceAvg <RangeInput TValue="int" @bind-Value="ApiServiceInfo.SettingToleranceAvg" Min="0" Max="100" TickMarks="ApiToleranceAvgTickList" Step="5" />
                            </div>
                            <div>
                                SettingMaxPower <RangeInput TValue="int" @bind-Value="ApiServiceInfo.SettingMaxPower" Min="700" Max="900" TickMarks="ApiMaxPowerTickList" Step="10" />
                            </div>
                        </div>
                    </Content>
                </Tab>
            </Tabs>
        </Content>
    </Tab>
    <Tab Title="Growatt">
        <Content>
            <Button Color="ButtonColor.Primary" @onclick="RefreshDeviceList">Refresh Device List</Button>
            <Button Color="ButtonColor.Primary" @onclick="ClearDeviceNoahTimeSegments">Clear Device Noah Timesegments </Button>

            @if (ApiServiceInfo.Devices == null || !ApiServiceInfo.Devices.Any())
            {
                <p>Loading...</p>
            }
            else
            {
                <ul>
                    @foreach (var device in ApiServiceInfo.Devices)
                    {
                        <li>@device.DeviceType : @device.DeviceSn </li>
                    }
                </ul>
            }

            <Button Color="ButtonColor.Primary" @onclick="RefreshNoahs">Refresh Noah Devices</Button>
            <Button Color="ButtonColor.Primary" @onclick="RefreshNoahLastData">Refresh Noah Device last data</Button>

            @if (ApiServiceInfo.DeviceNoahInfo == null || !ApiServiceInfo.DeviceNoahInfo.Any())
            {
                <p>Loading...</p>
            }
            else
            {
                <Tabs @ref="tabsGrowattRef">
                    @foreach (var deviceInfo in ApiServiceInfo.DeviceNoahInfo)
                    {
                        <Tab Title="@($"{deviceInfo.Model} : {deviceInfo.DeviceSn}")">
                            <Content>
                                <div class="mt-3 d-flex">
                                    <div class="flex-column">
                                        <ul>
                                            @foreach (var property in deviceInfo.GetType().GetProperties())
                                            {
                                                <li>@property.Name : @property.GetValue(deviceInfo)</li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="flex-column ml-3">
                                        <ul>
                                            @foreach (var lastData in ApiServiceInfo.DeviceNoahLastData.Where(x => x != null && x.deviceSn == deviceInfo.DeviceSn))
                                            {

                                                DateTime time = DateTimeOffset.FromUnixTimeMilliseconds(@lastData.time).DateTime;

                                                <li>@time,  Workmode: @lastData.workMode , Power(W): @lastData.ppv, PAC(W): @lastData.pac, ChargingModus: @lastData.totalBatteryPackChargingStatus , Charging(W): @lastData.totalBatteryPackChargingPower , SOC: @lastData.totalBatteryPackSoc</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </Content>
                        </Tab>
                    }
                </Tabs>
            }
        </Content>
    </Tab>
</Tabs>




